@charset "UTF-8";

/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
  border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}


/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*--- ページ基本デザイン ---*/


.wrapper {
  display: flex;
	flex-wrap: wrap;
	width: 1680px;
}

.title h1{
  text-align: center;
  font-size: 50px;
  width: 1680px;
}

.red {
  border: solid 1px #000000;
  padding: 2px;
  margin-left: 15px;
  color: red;
  font-size: 18px;
}

header a{
	text-decoration: none;
}

#header-nav {
  list-style: none;
	overflow: hidden;
	float: right;
}

#header-nav li {
  width: 200px;
  text-align: center;
  background-color: #333;
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}

#header-nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}

.header_title {
	font-size: 40px;
}

footer{
	margin: 100px 0 0 auto;
}

footer a{
	float: right;
}
