@charset "UTF-8";

.title h1{
  text-align: center;
  margin: 50px 0;
  font-size: 50px;
}

.login_content {
    border: solid 3px #000000;
    margin: 0 auto;
    width:500px;
    padding:30px;
}

.login_content p {
  margin:20px 20px;
  font-size: 20px;
}

#login_button_detail {
  margin: 10px 200px;
}

#password_box {
  width: 180px;
}
