@charset "UTF-8";

.profile {
    border: solid 3px #000000;
    margin: 20px 350px;
    width:900px;
    padding:30px;
}

.profile p {
  margin:20px 20px;
  font-size: 20px;
}

#recruit-register_button_detail {
  margin: 20px 370px;
}

#create_details {
  width: 600px;
}

#recruit {
  width: 600px;
}

#use_language {
  width: 560px;
}

#few_words {
  width: 600px;
}

.recruit_button {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.recruit_register_button{
  margin: 0 50px;
}
